.header {
  height: 95vh;
  position: relative;

  &__slider--1 {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .5), rgba($primary-dark, .5)), url(img/header-image-1-medium.jpg);
    @include slider-image;
    animation: fade1 10s infinite;
  }

  &__slider--2 {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .5), rgba($primary-dark, .5)), url(img/header-image-2-medium.jpg);
    @include slider-image;
    animation: fade2 10s infinite;
  }

  &__slider--3 {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .5), rgba($primary-dark, .5)), url(img/header-image-3-medium.jpg);
    @include slider-image;
    animation: fade3 10s infinite;
  }

  &__slider--4 {
    background-image: linear-gradient(to right bottom, rgba($primary-light, .5), rgba($primary-dark, .5)), url(img/header-image-4-medium.jpg);
    @include slider-image;
    animation: fade4 10s infinite;
  }

  &__logo-box {
    position: absolute;
    top: 25%;
    @include center-object;
  }

  &__logo {
    height: 25rem;
  }

  &__text-box {
    position: absolute;
    top: 45%;
    @include center-object;
  }

  &__btn-box {
    position: absolute;
    top: 60%;
    @include center-object;
  }
}